{
  "openapi": "3.0.0",
  "info": {
    "title": "SafeHand - Client Universal Auth APIs",
    "version": "1.0.0",
    "description": "API documentation for Client Universal Authentication (Login/Register) and Profile Management."
  },
  "servers": [
    {
      "url": "https://api.safehandlifecare.com",
      "description": "Production Server"
    },
    {
      "url": "http://localhost:5001",
      "description": "Local Development Server"
    }
  ],
  "tags": [
    {
      "name": "Client Auth",
      "description": "Universal Login/Register flow and Session management."
    },
    {
      "name": "Client CRUD",
      "description": "Profile updates and administrative actions."
    }
  ],
  "paths": {
    "/api/clients/send-otp": {
      "post": {
        "summary": "Universal: Send OTP for Login/Register",
        "description": "If the phone number doesn't exist, it creates a new pending account. Otherwise, it prepares for login.",
        "tags": [
          "Client Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phone"
                ],
                "properties": {
                  "phone": {
                    "type": "string",
                    "example": "9876543210"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP sent successfully"
          },
          "400": {
            "description": "Invalid phone number"
          }
        }
      }
    },
    "/api/clients/verify-otp": {
      "post": {
        "summary": "Universal: Verify OTP & Login",
        "tags": [
          "Client Auth"
        ],
        "description": "Verifies the OTP and issues Access/Refresh tokens via Cookies. Works for both new and existing users.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phone",
                  "otp"
                ],
                "properties": {
                  "phone": {
                    "type": "string",
                    "example": "9876543210"
                  },
                  "otp": {
                    "type": "string",
                    "example": "123456"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication successful. Tokens set in Cookies."
          },
          "400": {
            "description": "Invalid or expired OTP"
          }
        }
      }
    },
    "/api/clients/complete-profile": {
      "post": {
        "summary": "Profile: Complete Registration (Authenticated)",
        "tags": [
          "Client Auth"
        ],
        "description": "Used by new users to provide Name and Email after phone verification. Requires Access Token.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "email"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "John Doe"
                  },
                  "email": {
                    "type": "string",
                    "example": "john@example.com"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile completed successfully"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid token"
          },
          "409": {
            "description": "Email already exists"
          }
        }
      }
    },
    "/api/clients/resend-otp": {
      "post": {
        "summary": "Auth: Resend OTP",
        "tags": [
          "Client Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phone"
                ],
                "properties": {
                  "phone": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP resent successfully"
          }
        }
      }
    },
    "/api/clients/logout": {
      "post": {
        "summary": "Auth: Logout",
        "tags": [
          "Client Auth"
        ],
        "description": "Clears tokens from database and browser cookies.",
        "responses": {
          "200": {
            "description": "Logged out successfully"
          }
        }
      }
    },
    "/api/clients/refresh-token": {
      "post": {
        "summary": "Auth: Refresh Session",
        "tags": [
          "Client Auth"
        ],
        "description": "Uses the Refresh Token cookie to issue a new Access Token.",
        "responses": {
          "200": {
            "description": "Session refreshed"
          },
          "401": {
            "description": "Invalid or expired refresh token"
          }
        }
      }
    },
    "/api/clients/getall": {
      "get": {
        "summary": "Admin: Get All Clients",
        "tags": [
          "Client CRUD"
        ],
        "responses": {
          "200": {
            "description": "List of all clients"
          }
        }
      }
    },
    "/api/clients/get/{id}": {
      "get": {
        "summary": "Get Client by ID",
        "tags": [
          "Client CRUD"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Client data"
          },
          "404": {
            "description": "Client not found"
          }
        }
      }
    },
    "/api/clients/update/{id}": {
      "put": {
        "summary": "Admin: Update Client Profile",
        "tags": [
          "Client CRUD"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Client updated successfully"
          }
        }
      }
    },
    "/api/clients/delete/{id}": {
      "delete": {
        "summary": "Admin: Delete Client",
        "tags": [
          "Client CRUD"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Client deleted successfully"
          }
        }
      }
    }
  }
}